# =========================
# 🔐 Secrets
# =========================
*.env
API_*.env
*.kdbx

# =========================
# 🐍 Virtual environment
# =========================
.venv/
venv/
env/

# =========================
# 🍎 macOS
# =========================
.DS_Store

# =========================
# 🐍 Python cache / build
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# =========================
# 🧪 Testing / coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# 🧠 IDEs
# =========================
.vscode/
.idea/

# =========================
# 📦 Logs
# =========================
*.log

# =========================
# 📊 Datos grandes / outputs
# =========================
*.csv
*.xlsx

step1_scraping/resultados_scraping/
step1_scraping/**/descargas_xml/
step4_resultados/
step9_Resultados_CSV/
