# Secrets
*.env
API_*.env
*.kdbx

# Virtual env
.venv/

# Mac
.DS_Store

# Python
__pycache__/
*.pyc

# Outputs / datos grandes
*.csv
step1_scraping/resultados_scraping/
step4_resultados/
step9_Resultados_CSV/
