# Librerías Principales (Sin versión fija para evitar errores en GitHub)
numpy
pandas
selenium
beautifulsoup4
lxml
requests
pdfplumber
pdfminer.six
python-dotenv
google-generativeai
google-genai
webdriver-manager

# Librerías de Soporte (Versiones estables)
annotated-types==0.7.0
anyio
attrs
blinker==1.9.0
brotli==1.2.0
cachetools
certifi
cffi
charset-normalizer==3.4.4
cryptography
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
grpcio
grpcio-status
h11
h2
hpack
httpcore
httplib2
httpx
hyperframe
idna
kaitaistruct
outcome
packaging
pillow
pip
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pyOpenSSL
pyparsing
pypdfium2
PySocks
python-dateutil
pytz
rsa
selenium-wire
six
sniffio
sortedcontainers
soupsieve
tenacity
tqdm
trio
trio-websocket
typing_extensions
typing-inspection
tzdata
uritemplate
urllib3
websocket-client
websockets
wsproto
zstandard
